#h1 {
    text-align: center;
    font-size: 400%;
}

#img1 {
    display: flex;
    justify-content: center;
}

#p1 {
    text-align: right;
}

#p2 {
    text-decoration: underline;
    text-decoration-color: lawngreen;
    font-size: 150%;
}